name: Update Spotify History

on:
  schedule:
    - cron: '0 0 * * *' 
  workflow_dispatch:

jobs:
  update-spotify:
    runs-on: ubuntu-latest
    
    permissions:
      contents: write

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'

      - name: Install Dependencies
        run: npm install fs path dotenv

      - name: Run Fetch Script and update tracks
        env:
          SPOTIFY_CLIENT_ID: ${{ secrets.SPOTIFY_CLIENT_ID }}
          SPOTIFY_CLIENT_SECRET: ${{ secrets.SPOTIFY_CLIENT_SECRET }}
          SPOTIFY_REFRESH_TOKEN: ${{ secrets.SPOTIFY_REFRESH_TOKEN }}
        run: node scripts/fetch-spotify.js

      - name: Commit and Push Changes
        run: |
          git config --global user.name "21lakshh"
          git config --global user.email "lakshyapaliwalodd@gmail.com"
          
          git add .
          git commit -m "Updated Spotify tracks list"
          git push